@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Jost", sans-serif;
}

.upside-down-rounded-triangle {
  object-fit: cover;

  clip-path: polygon(
    52% 8%,
    88% 8%,
    100% 35%,
    90% 66%,
    75% 91%,
    53% 99%,
    32% 92%,
    16% 69%,
    0 27%,
    18% 8%
  );
}
